# Ignorar pastas
myenv/
exec -l/
google-cloud-sdk/

# Ignorar arquivos específicos
google-cloud-sdk-412.0.0-darwin-arm.tar.gz
forward-emitter-437218-m7-41f7ca17f1ac.jsonforward-emitter-437218-m7-41f7ca17f1ac.json
echo "forward-emitter-437218-m7-41f7ca17f1ac.json" >> .gitignore# Ignorar pastas e arquivos não relacionados ao projeto
.azuredatastudio/
.config/
.gradle/
.jenkins/
myenv/
google-cloud-sdk/
*.log
*.tar.gz
*.dylib

# Ignore Azure Data Studio
.azuredatastudio/

# Ignore Google Cloud SDK
.config/gcloud/

# Ignore Wondershare Dr.Fone
.config/Wondershare/

# Ignore Gradle
.gradle/

# Ignore Jenkins
.jenkins/
Library/
Pictures/
.azure/
.config/gcloud/
.gradle/
.azuredatastudio/
.jenkins/